@media screen and (max-width: 900px) {
  .nav-img{
    flex: 1;
  }

  #oha{
    position: absolute;
    top: 1%;
    left: 1%;
    width: 2.5rem;
    height: 2.5rem;
  }

  .nav__btn{
    margin-left: 90vw;
  }

  ul {
    flex-direction: column;
    margin-top: 40px;
    position: absolute;
    left: 140%;
  }

  li {
    margin: 0;
    font-size: 3.5vw;
    padding-bottom: 20%;
    display: none;
    align-self: flex-start;
  }
  .list{
    display: block
  }

  .hidden{
    opacity: 0;
  }
 
  .we{
    padding: 3% 0;
  }

  
}


@media screen and (min-width: 900px) {
  #oha {
    width: 3rem;
    height: 3rem;
    margin-top: -90%;
  }

  li{
    font-size: 1.5vw;
  }

  i {
    visibility: hidden;
  }
}
/* @media screen and (min-width: 900px) {
  button {
    display: none;
  }
  li {
    margin: 0 2vw;
  }
  a {
    padding: 2vw;
  }
} */
