@media screen and (max-width: 900px) {
  button {
    display: block;
    visibility: visible;
    width: 3rem;
    font-size: 3vh;
    background-color: #afe0ff;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 1%;
  }

  .nav-img{
    flex: 1;
  }

  #oha{
    position: absolute;
    top: 1%;
  }

  .nav__btn{
    margin-left: 70vw;
  }

  ul {
    flex-direction: column;
    justify-content: space-around;
  }

  li {
    margin: 0;
    display: none;
    align-self: flex-end;
  }

  
}

/* @media screen and (min-width: 900px) {
  button {
    display: none;
  }
  li {
    margin: 0 2vw;
  }
  a {
    padding: 2vw;
  }
} */
