/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: #c4c4c4;
}

nav {
  margin: 0;
  width: 50vw;
  display: flex;
  margin-left: 1%;
  align-items: center;
  position: relative;
}

.nav__btn {
  flex: 1;
  width: 2rem;
}

ul {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  margin-left: 0%;
  margin-bottom: 0;
}

li {
  list-style-type: none;
  margin: 10%;
  margin-top: 0;
}

.move{
  margin-left: 10vw;
}
h1{
  text-transform: uppercase;
}
.we{
  font-size: 22px;
  margin-bottom: 3%;
}
.button{
  padding: 1%;
}

